<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NUnitExtensions" type="RJCP.CodeQuality.AppConfig.NUnitExtensionsSection, RJCP.CodeQuality"/>
  </configSections>

  <NUnitExtensions>
    <deploy workDir="work" force="false"/>
  </NUnitExtensions>
</configuration>